# Load .env.development* files when running `wrangler dev`
NEXTJS_ENV=development

NEXT_PUBLIC_APP_URL=http://localhost:3000

TURSO_CONNECTION_URL=
TURSO_AUTH_TOKEN=

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=some-secret-key
